# build files and folders
/*.egg-info
/build
/dist
/titans/website/site

# docs
/docs

# ide files
/.vscode

# temp files
/titans/pdfset/order.yaml
/scratch*
/TODO
/*.sql

# test files
__pycache__

# virtual environments
/.venv
