<!-- Footer -->
<div class="centered">
    <div class="header_footer" id="footer">

        <!-- Buttons -->
        <button id="read_button">Learn More</button>
        <a href="online"><button>Play The Online Demo</button></a>
        <button id="video_button">Watch More Videos</button>
        <button id="pnp_button">Print and Play</button>

        <!-- Video Thumbnails -->
        <div class="padding">
            <div class="collapsed" id="video_thumbnails">
                <a href="landing"><img class="thumbnail" src="img/landing_thumbnail.png"></a>
                <a href="empire"><img class="thumbnail" src="img/empire_thumbnail.png"></a>
                <a href="nowait"><img class="thumbnail" src="img/nowait_thumbnail.png"></a>
                <a href="constructed"><img class="thumbnail" src="img/constructed_thumbnail.png"></a>
            </div>
        </div>

        <!-- Reading Thumbnails -->
        <div class="padding">
            <div class="collapsed" id="read_thumbnails">
                <a href="overview"><img class="thumbnail" src="img/gameplay_thumbnail.png"></a>
                <a href="empire-text"><img class="thumbnail" src="img/empire_thumbnail.png"></a>
                <a href="nowait-text"><img class="thumbnail" src="img/nowait_thumbnail.png"></a>
                <a href="constructed-text"><img class="thumbnail" src="img/constructed_thumbnail.png"></a>
                <a rel="noreferrer noopener" target="_blank" href="docs/Learn To Play Rulebook.pdf"><img class="thumbnail" src="img/learn_thumbnail.png"></a>
                <a rel="noreferrer noopener" target="_blank" href="docs/Comprehensive Rulebook.pdf"><img class="thumbnail" src="img/comprehensive_thumbnail.png"></a>
            </div>
        </div>

        <!-- PnP -->
        <div class="padding">
            <div class="collapsed" id="pnp_thumbnails">
                <a rel="noreferrer noopener" target="_blank" href="docs/Print Instructions.pdf"><img class="thumbnail" src="img/printing_thumbnail.png"></a>
                <a rel="noreferrer noopener" target="_blank" href="docs/Elemental Cards.pdf"><img class="thumbnail" src="img/elemental_thumbnail.png"></a>
                <a rel="noreferrer noopener" target="_blank" href="docs/Player Cards.pdf"><img class="thumbnail" src="img/player_thumbnail.png"></a>
                <a rel="noreferrer noopener" target="_blank" href="docs/Subversions.pdf"><img class="thumbnail" src="img/subversions_thumbnail.png"></a>
                <a rel="noreferrer noopener" target="_blank" href="docs/Learn To Play Rulebook.pdf"><img class="thumbnail" src="img/learn_thumbnail.png"></a>
                <a rel="noreferrer noopener" target="_blank" href="docs/Comprehensive Rulebook.pdf"><img class="thumbnail" src="img/comprehensive_thumbnail.png"></a>
            </div>
        </div>

        <!-- Sign-Up Text -->
        <p class="h1"><span class="ks">Coming to Kickstarter:</span> Sign up to get notified about our launch!</p>
        <p class="p1">We'll send one update each month. Opt-out at any time.</p>

        <!-- Sign-Up Form -->
        <div id="subscribe_form">
            <input type="text" name="email" id="subscribe_email" placeholder="Email">
            <button id="subscribe_button" class="subscribe">Submit</button>
        </div>
        <div id="subscribe_success_box" class="collapsed">
            <p class="h2" id="subscribe_success_message">
                Thanks!
                You'll be the first to know when we decide to launch.
            </p>
        </div>

        <!-- Questions-Comments -->
        <p class="p1" id="questions_prompt">
            Questions? Comments?
            <span class="link" id="questions_link">Leave us a message!</span>
        </p>
        <div id="questions_form" class="collapsed">
            <textarea name="questions_box" rows="5" id="questions_box" placeholder="Type your questions or comments here!"></textarea>
            <input type="text" name="questions_email" id="questions_email" placeholder="Email (Optional)">
            <button id="questions_button" class="subscribe">Submit</button>
        </div>
        <div id="questions_success_box" class="collapsed">
            <p class="h2" id="questions_success_message">
                Thanks! We'll get back to you ASAP.
            </p>
        </div>

        <!-- Divider -->
        <img src="img/divider.png" class="divider">

        <!-- Credits -->
        <div class="centered credits">
            <p class="p2 bgcolor"><a href="privacy" class="link p2 bgcolor">Privacy Policy</a></p>
            <p class="p2 bgcolor">Version 0.8.0 (Gothic 0)</p>
            <p class="p2 bgcolor">
                Copyright &copy; 2018-2022 Lake's Legendaries LLC. All rights reserved.
            </p>
            <p class="p2 justified bgcolor">
                Source code for the online demo is available on <a href="https://github.com/lakes-legendaries/" class="link p2 bgcolor">GitHub</a>. Game design, graphic design, rulebook design, app (online demo) design, 2D/3D animation, video editing, & website design by Mike Powell. Character art by
                <a href="https://www.deviantart.com/creadfectus" class="link p2 bgcolor">CREADFECTUS</a>,
                <a href="https://www.deviantart.com/yunaxd" class="link p2 bgcolor">Sara Contreras</a>,
                <a href="https://www.deviantart.com/inklev" class="link p2 bgcolor">Inklev</a>,
                <a href="https://www.deviantart.com/chaos-draco" class="link p2 bgcolor">Draco Herrera</a>,
                <a href="https://www.deviantart.com/metalratrox/" class="link p2 bgcolor">Jos&eacute; Mu&ntilde;oz</a>,
                <a href="https://www.deviantart.com/mr-ripley" class="link p2 bgcolor">Mr-Ripley</a>, and
                <a href="https://www.deviantart.com/4steex" class="link p2 bgcolor">4steex</a>.
                Box art, card backs, logo (isotype & logotype), and card frames by
                <a href="https://www.deviantart.com/creadfectus" class="link p2 bgcolor">CREADFECTUS</a>.
                Promo video music by
                <a href="https://freemusicarchive.org/music/Komiku" class="link p2 bgcolor">Komiku</a>,
                <a href="https://freesound.org/people/Airwolf89/" class="link p2 bgcolor">AirWolf89</a>,
                <a href="https://freesound.org/people/Jedo/" class="link p2 bgcolor">Jedo</a>, and
                <a href="https://freesound.org/people/klavo1985/" class="link p2 bgcolor">Kris Klavenes</a>,
                used under the
                <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode" class="link p2 bgcolor">CC0 1.0</a> and
                <a href="https://creativecommons.org/licenses/by/3.0/legalcode" class="link p2 bgcolor">CC BY 3.0</a>
                licenses. No changes were made to the music tracks, outside of cutting them to the appropriate length and changing their volumes for fade-in and fade-out effects.
            </p>
        </div>
    </div>
</div>

<!-- Scripts -->
<script type="text/javascript" src="script/footer.js"></script>
